---
import type { Ability } from '../../pokeapi/pokemon';

interface Props {
  abilities: Ability[];
}

const { abilities } = Astro.props;
---

<div>
  <span>Abilities:</span>

  <ul>
    {
      abilities.map((ability) => (
        <li class:list={{ hidden: ability.is_hidden }}>
          {ability.pokemon_v2_ability.name.replaceAll("-", " ")}
        </li>
      ))
    }
  </ul>
</div>

<style>
  span {
    font-weight: bold;
  }

  ul {
    width: fit-content;
    list-style: none;
  }

  li {
    text-transform: capitalize;
  }

  .hidden {
    opacity: 0.5;
  }

  .hidden::after {
    content: " (hidden)";
  }
</style>
