---
import type { Ability } from '../../pokeapi/pokemon';

interface Props {
  abilities: Ability[];
}

const { abilities } = Astro.props;
---

<div>
  <span class="text-lg font-bold">Abilities:</span>

  <ul>
    {
      abilities.map((ability) => (
        !ability.is_hidden
          ? <li class="capitalize">{ability.pokemon_v2_ability.name.replaceAll("-", " ")}</li>
          : <li class="capitalize text-gray-600">{ability.pokemon_v2_ability.name.replaceAll("-", " ")}</li>
      ))
    }
  </ul>
</div>
