---
import { colorMap, type Type } from '../../pokeapi/pokemon';

interface Props {
  types: Type[]
}

const { types } = Astro.props;
---

<ul>
  {types.map((type) => <li style={{ "--typeColor": colorMap[type.pokemon_v2_type.name] }}>{type.pokemon_v2_type.name}</li>)}
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background-color: var(--typeColor);
    border-radius: 0.5rem;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    list-style: none;
    height: min-content;
  }
</style>
