---
import { colorMap, type Type } from "../../pokeapi/pokemon";

interface Props {
  types: Type[];
}

const { types } = Astro.props;
---

<ul class="flex flex-wrap flex-row gap-2">
  {
    types.map((type) => (
      <li
        class="bg-[var(--typeColor)] capitalize font-bold py-1 px-2 text-white rounded-md text-sm"
        style={{ "--typeColor": colorMap[type.pokemon_v2_type.name] }}
      >
        {type.pokemon_v2_type.name}
      </li>
    ))
  }
</ul>
