---
import type { GetStaticPaths } from "astro";
import Base from "../../layouts/Base.astro";
import PokeDisplay from "../../components/PokeDisplay.astro";
import { pokemons, type Species } from "../../pokeapi/pokemon";

interface Props {
  species: Species;
  next?: string;
  last?: string;
}

export const getStaticPaths: GetStaticPaths = async () => {
  return pokemons.map((species) => ({
    params: { pokemon: species.name },
    props: {
      species,
      last: pokemons[species.id - 2]?.name,
      next: pokemons[species.id]?.name
    },
  }));
};

function capitalize(sentence: string) {
  return sentence.split(" ").map((word) => word[0]?.toUpperCase() + word.substring(1).toLowerCase()).join(" ");
}

const { species, last, next } = Astro.props;
---

<Base title={capitalize(species.name.replace("-", " "))}>
  <a href={`/pokemon/${last}`} data-astro-prefetch="viewport">Last</a>

  <main>
    {
      species.pokemon_v2_pokemons.map((pokemon) => (
        <PokeDisplay
          pokemon={pokemon}
          transition:animate="slide"
          transition:name="pokedisplay"
        />
      ))
    }
  </main>

  <a href={`/pokemon/${next}`} data-astro-prefetch="viewport">Next</a>
</Base>

<style>
  main {
    padding: 2rem;

    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    flex-direction: column;
  }
</style>
